{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
  #addresses .priv {
    display: none;
  }
  #addresses .balance {
    color: red;
    padding-left: 10px;
  }
</style>
<h2>Wallet</h2>
<script src="{% static 'aes.js' %}"></script>
<script src="{% static 'altcore-lib.min.js' %}"></script>
<script src="{% static 'bitcore-mnemonic.min.js' %}"></script>
<script src="{% static 'bitcore-message.min.js' %}"></script>
<script src="{% static 'scrypt.js' %}"></script>
<script src="{% static 'libstaeon.js' %}"></script>

<script>
    //var reddcore = require('reddcore');
    var bitcore = require('bitcore-lib');
    var Mnemonic = require('bitcore-mnemonic');
    var Message = require('bitcore-message');
    var hd_master_seed = undefined;
    var raw_mnemonic = undefined;
    var optimal_fees = {};
    var show_wallet_list = [];
    var exchange_pairs = {};
    var single_address_cryptos = ['xcp'];
    var nodes = ['localhost:8000'];
</script>
<script src="{% static 'wallet.js' %}"></script>


{% include "login.html" %}

{% if not user.is_authenticated %}
  <div style="width: 50%; margin: 0 auto 0 auto; background: #dfdfdf; padding: 5px">
  {% include "register.html" %}
  </div>
{% endif %}

<div id="wallet" style="display: none">
  <div id="addresses"></div>
  <div id="total_balance"></div>
</div>

{% endblock %}
